/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #90db90;
}

.cabecalho {
    background-color: #8cf38c;
    text-align: center;
    color: #f12ac6;
    font-weight: bold;         
    font-size: 32px;          
    margin: 0;
}
.cabecalho p:firtst-child {
    color:#580045


}